// Resets {

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: $font-weight-medium;
}

h1 {
  @include font-size($font-size-h1);
}

h2 {
  @include font-size($font-size-h2);
}

h3 {
  @include font-size($font-size-h3);
}

h4 {
  @include font-size($font-size-h4);
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

// } Resets

html,
body {
  @include font-size($font-size-base);
}

body {
  @include font-size($font-size-regular);
  font-family: $font-family;
  font-weight: $font-weight-medium;
  color: $color-text;
  background: $color-secondary;
}

a {
  color: $color-text;
}
