// Mixins

@mixin font-size($font-size) {
  @if type-of($font-size) == "list" {
    font-size: nth($font-size, 1);
    @if (length($font-size) > 1) {
      line-height: nth($font-size, 2);
    }
  }
  @else {
    font-size: $font-size;
  }
}

@mixin animated-underline($thickness, $initial, $end, $focus) {
  position: relative;
  @if $focus == true {
    outline: none;
  }

  &::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: $thickness;
    content: "";
    background: currentColor;
    transition: 0.3s transform ease;
    transform-origin: left;
    transform: scaleX($initial);
  }

  @if $focus == true {
    &:hover::after,
    &:focus::after {
      transform: scaleX($end);
    }
  }
  @else {
    &:hover::after {
      transform: scaleX($end);
    }
  }
}

@mixin animated-highlight($color, $hoverColor, $hoverTextColor, $parentHover) {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s width ease;
  }

  &::before {
    z-index: -2;
    width: 100%;
    background: $color;
  }

  &::after {
    z-index: -1;
    width: 0;
    background: $hoverColor;
  }

  @if $parentHover {
    #{$parentHover}:hover & {
      color: $hoverTextColor;

      &::after {
        width: 100%;
      }
    }
  }
  @else {
    &:hover {
      color: $hoverTextColor;

      &::after {
        width: 100%;
      }
    }
  }
}

@mixin multiline-highlight($color, $padding) {
  display: inline;
  box-decoration-break: clone;
  padding: $padding;
  background: $color;
}

@mixin visibly-hidden() {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
