// Mixins

@mixin font-size($font-size) {
  @if type-of($font-size) == "list" {
    font-size: nth($font-size, 1);
    @if (length($font-size) > 1) {
      line-height: nth($font-size, 2);
    }
  }
  @else {
    font-size: $font-size;
  }
}

@mixin animated-underline($thickness, $initial, $end, $focus) {
  position: relative;
  @if $focus == true {
    outline: none;
  }

  &::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: $thickness;
    content: "";
    background: currentColor;
    transition: 0.3s transform ease;
    transform-origin: left;
    transform: scaleX($initial);
  }

  @if $focus == true {
    &:hover::after,
    &:focus::after {
      transform: scaleX($end);
    }
  }
  @else {
    &:hover::after {
      transform: scaleX($end);
    }
  }
}
