// Variables

// Typography
$font-family-primary: "ff-enzo-web", sans-serif;

$font-size-base: 100%;
$font-size-regular: 1rem, 1.25;
$font-size-medium: 1.125rem, 1.4;
$font-size-large: 1.375rem, 1.13636364;
$font-size-xlarge: 1.625rem, 1.15384615;
$font-size-xxlarge: 2rem, 1.25;
$font-size-huge: 4rem, 1.125;

$font-size-h1: $font-size-xxlarge;
$font-size-h2: $font-size-xlarge;
$font-size-h3: $font-size-large;
$font-size-h4: $font-size-medium;
$font-size-body: $font-size-medium;

$font-weight-light: 300;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Colours
$color-primary: #0d0d0d;
$color-secondary: #fafafa;
$color-text: $color-primary;
$color-text-invert: $color-secondary;

// Structural
$section-padding-vertical: 1rem;
$section-padding-horizontal: 1rem;
$section-padding: $section-padding-vertical $section-padding-horizontal;

$section-padding-vertical-medium: 2rem;
$section-padding-horizontal-medium: 4rem;
$section-padding-medium: $section-padding-vertical-medium $section-padding-horizontal-medium;

$border-weight: 2px;

// Media Queries
$media-query-screen-medium: "min-width: 53.750rem";
