// About

.About {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparentize($color-secondary, 0.05);
  opacity: 0;
  transform: translateY(-150%);
  transition: 0.5s transform ease, 0.3s opacity ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.About-content {
  @include font-size($font-size-large);
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
}
