// Hero

.Hero-about {
  @include font-size($font-size-large);
}

.Hero-tagLine {
  @include font-size($font-size-large);
  margin: .25rem 0;
  font-weight: $font-weight-light;

  @media only screen and ($media-query-screen-medium) {
    @include font-size($font-size-huge);
  }
}

.Hero-emphasis {
  font-weight: $font-weight-bold;
}
