// Navigation

.Navigation {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.Navigation-title {
  @include animated-underline(
    $thickness: 2px,
    $initial: 0,
    $end: 0.8,
    $focus: true
  );
  position: relative;
  font-weight: $font-weight-bold;
  text-decoration: none;
}

.Navigation-links {
  display: flex;
  list-style: none;
}

.Navigation-link {
  @include animated-underline(
    $thickness: 1px,
    $initial: 0,
    $end: 0.8,
    $focus: true
  );
  position: relative;
  margin-left: 2rem;
  text-decoration: none;
}
