// Navigation

.Navigation {
  @include font-size($font-size-large);
  display: flex;
  position: relative;
  z-index: 3;
  justify-content: space-between;
}

.Navigation-title {
  @include animated-underline(
    $thickness: 2px,
    $initial: 0,
    $end: 0.8,
    $focus: true
  );
  position: relative;
  font-weight: $font-weight-bold;
  text-decoration: none;
}

.Navigation-social {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.Navigation-social-item {
  display: inline-block;
}

.Navigation-social-link {
  @include animated-underline(
    $thickness: 1px,
    $initial: 0,
    $end: 0.8,
    $focus: true
  );
  position: relative;
  margin-left: 0.5rem;
  text-decoration: none;
}

.Navigation-social-link-text {
  @include visibly-hidden;
}

.Navigation-button {
  @include font-size($font-size-large);
  @include animated-underline(
    $thickness: 1px,
    $initial: 0,
    $end: 0.8,
    $focus: true
  );
  font-weight: $font-weight-medium;
  margin-left: 1rem;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
