// Pieces

.Pieces {
  padding: 0;
  list-style: none;
}

.Pieces-listItem {
  margin: 0;
}

.Pieces-item {
  display: block;
  position: relative;
  font-size: 0;
}

.Pieces-item-figure img {
  transition: 0.3s filter ease, 0.3s transform ease;
  filter: grayscale(80%);

  .Pieces-item:hover &,
  .Pieces-item:focus & {
    filter: grayscale(0);
  }
}

.Pieces-item-image {
  width: 100%;
}

.Pieces-item-caption {
  @include font-size($font-size-body);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  color: $color-text-invert;

  @media only screen and ($media-query-screen-medium) {
    padding: 2rem;
  }
}

.Pieces-item-title {
  @include font-size($font-size-large);
  @include multiline-highlight(
    $color: $color-primary,
    $padding: 0.25rem
  )
  margin-bottom: 0.5rem;
  font-weight: $font-weight-medium;
}

.Pieces-item-description {
  @include multiline-highlight(
    $color: $color-primary,
    $padding: 0.25rem
  )
}
