// Piece

.Piece {
  display: block;
  position: relative;
  font-size: 0;
  color: $color-text-invert;
  text-shadow: 0px 0px 8px $color-primary;
}

.Piece-figure img {
  transition: 0.3s filter ease, 0.3s transform ease;
  filter: grayscale(80%);

  .Piece:hover &,
  .Piece:focus & {
    filter: grayscale(0);
  }
}

.Piece-image {
  width: 100%;
}

.Piece-caption {
  @include font-size($font-size-body);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.Piece-title {
  @include font-size($font-size-large);
  margin-bottom: .5rem;
  font-weight: $font-weight-medium;
}
