// Piece

.Piece {

}

.Piece-content {
  img {
    width: 100%;
    margin-bottom: 1rem;

    @media only screen and ($media-query-screen-medium) {
      width: 110%;
      margin: 0 -5% 1rem;
    }
  }
}

.Piece-hero-figure {
  height: 600px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.Piece-hero-image {
  @include visibly-hidden();
}

.Piece-next {
  position: relative;
  overflow: hidden;
  display: block;
}

.Piece-next-title {
  @include font-size($font-size-xxlarge);
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  color: $color-text-invert;
  text-shadow: 0px 0px 8px $color-primary;
  transform: translate(-50%, -50%);
}

.Piece-next-background {
  height: 200px;
  transition: 0.3s filter ease, 0.3s transform ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: grayscale(80%);

  .Piece-next:hover &,
  .Piece-next:focus & {
    filter: grayscale(0);
  }
}
