// Pieces

.Pieces {
  list-style: none;
}

.Pieces-item {
  display: block;
  position: relative;
  font-size: 0;
}

.Pieces-item-figure img {
  transition: 0.3s filter ease, 0.3s transform ease;
  filter: grayscale(80%);

  .Pieces-item:hover &,
  .Pieces-item:focus & {
    filter: grayscale(0);
  }
}

.Pieces-item-image {
  width: 100%;
}

.Pieces-item-caption {
  @include font-size($font-size-body);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  color: $color-text-invert;
}

.Pieces-item-title {
  @include font-size($font-size-large);
  @include animated-highlight(
    $color: $color-primary,
    $hoverColor: $color-secondary,
    $hoverTextColor: $color-text,
    $parentHover: ".Pieces-item"
  );
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0rem 0.2rem;
  font-weight: $font-weight-medium;
}
